# Rename this file to .env and fill in your credentials

BINANCE_API_KEY=your_api_key_here
BINANCE_SECRET_KEY=your_secret_key_here
BASE_URL=https://demo-fapi.binance.com
LOG_LEVEL=INFO    # chage to DEBUG for more detailed logs