# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/



# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Distribution
dist/
build/
*.egg-info/